body {
    background: green;
    color: white;
}

button {
    padding: 5px;
    border: white;
    color: white;
    background-color: red;
}

.cardSpot {
    border: 6px solid white;
    border-radius: 5px;
    margin: 20px;
    height: 50px;
    width: 40px;
}