body {
    background: green;
    color: white;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Playball', cursive;
    font-size: 60px;
    margin: 20px 0 0 0;
}

h2 {
    font-family: 'Playball', cursive;
    font-size: 30px;
}

button {
    padding: 10px;
    border: white;
    border-radius: 10px;
    color: white;
    background-color: red;
    font-family: 'Playball', cursive;
    font-size: 40px;
    margin: 8px;
    /* width: 240px; */
}

main {
    /* float: left; */
    display: inline-block;
    width: 60%;
}

aside {
    display: inline-block;
    width: 20%;
}

#bet {
    font-family: 'Aclonica', sans-serif;
    font-size: 30px;
    padding: 5px;
}

aside h3 {
    font-family: 'Playball', cursive;
    font-size: 30px;
    padding-top: 10%;
    margin-bottom: 0;
}

aside p {
    font-family: 'Aclonica', sans-serif;
    font-size: 30px;
    margin: 0;
}

footer {
    display: block;
    clear: both;
}

.cardSpot {
    background: contain center;
    border-radius: 10px;
    margin: 10px -40px;
    width: 120px;
    height: 174px;
    display: inline-block;
}

.deck {
    background-size: contain center;
    border-radius: 15px;
    margin: 20px auto;
    width: 100px;
    height: 145px;
}

.deck1 {
    background: center url("./deck1.jpg");
}

.deck2 {
    background: center url("./deck2.jpg");
}

.deck3 {
    background: center url("./deck3.jpg");
}

.selected {
    border: 6px solid white;
}

.score {    
    background-color: red;
    border-radius: 15px;
    margin: 20px auto;
    height: 100px;
    width: 150px;
}

.balance {    
    background-color: red;
    border-radius: 15px;
    margin: 20px auto;
    height: 250px;
    width: 150px;
}

.input {
    width: 80%;
    height: 10%;
    border-radius: 10px;
    text-align: center;
}

/* .faceDown {
    background: url(./);
} */

.right {
    float: right;
}

.left {
    float: left;
}

#hit, #stand, #doubleDown, #split, #insurance, #surrender {
    display: none;
}