body {
    background: green;
    color: white;
    margin: 0 auto;
    text-align: center;
}

button {
    padding: 10px;
    border: white;
    border-radius: 10px;
    color: white;
    background-color: red;
    font-size: 30px;
    margin: 8px;
    width: 220px;
}

.cardSpot {
    border: 6px solid white;
    border-radius: 10px;
    margin: 20px -40px;
    height: 150px;
    width: 100px;
    display: inline-block;
}

.score {    
    background-color: red;
    border-radius: 15px;
    margin: 20px;
    height: 150px;
    width: 150px;
}

.balance {    
    background-color: red;
    border-radius: 15px;
    margin: 20px;
    height: 150px;
    width: 150px;
}

/* font-family: 'Fascinate Inline', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Righteous', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Playball', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Prosto One', cursive;
font-family: 'Rochester', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Berkshire Swash', cursive; */